body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  height: 100%;
  box-sizing: border-box;
  margin: 0;

  .home {
    margin-top: 30px;

    .section-1 {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .cell-phone {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 300px;
        height: 600px;
        border-radius: 22px;
        border: 10px solid #232323;
        box-shadow: 0 0 10px 1px black;
        position: relative;
        overflow: hidden;
  
        .header {
          height: 20px;
          display: flex;
          padding: 4px 10px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          background: transparent;
  
          &.header-active {
            background: #c5c5c5;
          }
  
          .item {
            margin-left: 1px;
            margin-right: 1px;
            font-family: sans-serif;
            font-size: 15px;
            
            &.item {
              line-height: 20px;
            }

            .header-icon {
              font-size: 18px;
            }
          }
          
          .empty {
            flex: 1;
          }
        }
  
        .main-screen {
          display: flex;
          flex-direction: column;
          height: 100%;
          padding-bottom: 22px;
          padding-top: 28px;
          box-sizing: border-box;
  
          .row{
            display: flex;
            height: 50px;
            margin-bottom: 25px;
            justify-content: flex-start;
            width: 280px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px;
  
            .col {
              width: 50px;
              height: 50px;
              background: #c5c5c5;
              border-radius: 5px;
              display: flex;
              align-items: center;
              margin-left: 10px;
              margin-right: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
  
              &:hover {
                color: #9d36ea;
              }
  
              .cell-phone-icon {
                font-size: 40px;
              }
            }
          }
  
          .to-user {
            padding: 7px;
            text-align: center;
            background: linear-gradient(90deg, #fffeff, #eaeaea, #e8e8e8);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            box-shadow: 0 2px 3px 0 #cecece;

            .back {
              display: flex;
              padding: 1px 5px;
              cursor: pointer;
              position: absolute;
              left: 10px;
            }
          }

          .chat {
            flex: 1 1;
            overflow-x: hidden;
            overflow-y: auto;
            box-sizing: border-box;
            padding-bottom: 10px;

            .chat-frame {
              .item {
                display: flex;
                justify-content: flex-end;
                margin-top: 12px;
  
                .content {
                  box-shadow: 0 0 3px 0 #8a8a8a;
                  border-radius: 5px;
                  padding: 5px 10px;
                  color: #1d1d1d;
                }
    
                .head {
                  color: #1d1d1d;
                  padding: 0 4px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
  
                &.left {
                  flex-direction: row-reverse;
                  padding-right: 32px;

                  .content {
                    background: white;
                  }
                }
  
                &.right {
                  flex-direction: row;
                  padding-left: 32px;

                  .content {
                    background: #70d7ff;
                  }
                }
              }
            }
          }
  
          .action {
            background: #d2d2d2;
            display: flex;
            align-items: center;
            padding-left: 5px;
            padding

            .send {
              height: 32px;
            }
  
            .input-base {
              margin-top: 7px;
              margin-right: 7px;
              margin-bottom: 7px;
              padding: 0 10px;
              background: white;
              border-radius: 4px;
            }
          }

          .receivers {
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;

            .head-icon {
              text-align: center;
              padding: 30px 0;
              border-radius: 50%;
              background: radial-gradient(#b5a7ff, #af44ff);
              width: 140px;
              color: white;
              margin: 30px auto 45px auto;
              box-shadow: 0 0 3px 1px #b1b1b1;
            }

            .item {
              padding: 10px 15px;
              box-sizing: border-box;
              cursor: pointer;
              font-weight: bold;
              color: #1e2a58;
              background: #eccfff;
              margin: 0 20px;
              border-radius: 5px;
              margin-bottom: 15px;

              &:hover {
                background: linear-gradient(270deg, #a8aaf1, #9069dc);
              }
            }
          }
        }
  
        .footer {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          justify-content: space-evenly;
          height: 22px;
  
          &.footer-active {
            background: #e0e0e0;
          }
          
          .item {
            display: flex;
            align-items: center;

            .footer-icon {
              cursor: pointer;
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .login {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

    .frame {
      background: linear-gradient(0, #7db7ff, #a8e7ff);
      border-radius: 5px;
      box-shadow: 0 0 5px 1px #a5a5a5;
      max-width: 450px;
      margin-left: 20px;
      margin-right: 20px;
      width: 100%;
      padding: 10px 0;
      box-sizing: border-box;
      height: 278px;
      position: relative;

      .header {
        text-align: center;
        font-size: 23px;
        padding: 33px 0 15px 0;
        color: #685bd6;
        font-weight: bold;
        text-transform: uppercase;
      }

      .row {
        margin-bottom: 15px;
        display: flex;
        border: 1px solid #d0d0d0;
        overflow: hidden;
        border-radius: 5px;
        width: 318px;
        margin-left: auto;
        margin-right: auto;

        .label-box {
          width: 37px;
          text-align: right;
          line-height: 37px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: white;
          border-right: none;
          color: #685bd6;
          border-right: 1px solid #d0d0d0;
        }
  
        .input-box {
          flex: 1;
          background: white;

          input {
            color: #685bd6 !important;
            padding: 10px 8px 8px 8px;
          }
        }
      }

      .button-row {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding-top: 5px;
      }
    }
  }


  .resume {
    padding: 15px 35px;
    background-color: white;

    .section {
      background: white;
      border-bottom: 2px solid #d2d2d2;
      padding-bottom: 15px;
      margin-bottom: 35px;

      .header {
        font-size: 30px;
        font-weight: bold;
      }
    }

    .summary {
      .summary-detail {
        padding: 5px 0px;
        box-sizing: border-box;
        border-radius: 5px;
        width: 100%;
        max-width: 700px;
      }
    }

    .skill-list {
      ul {
        display: flex;
        flex-wrap: wrap;

        & > div {
          width: 50%;
        }
      }

      svg {
        font-size: 20px;
      }
    }

    .education {
      .degree {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
      }

      .institute {
        font-weight: bold;
        font-style: italic;
        margin-bottom: 15px;
      }
    }

    .visa {
      .visa-name {
        font-size: 23px;
        font-style: italic;
      }
    }

    .employments {
      .header {
        padding-bottom: 10px;
        margin-top: 10px;
        font-weight: bold;
      }

      .position {
        font-weight: bold;
        padding-top: 2px;
        font-size: 16px;
      }

      .description-block {
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-size: 15px;

        & > div {
          padding-bottom: 5px;
          margin-left: 10px;
          display: list-item;
        }
      }
    }
  }
}

.flex-1 {
  flex: 1;
}

.nav-menu {
  width: 300px;
  margin-top: 20px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.hidden-star {
  color: transparent;
  background: transparent;
}

.bold-font {
  font-size: 19px;
  font-weight: bold;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-main {
    background: white;
    padding: 10px;
  }
}

html {
  height: 100%;

  .main {
    height: calc(100vh - 36px);
    overflow: auto;
    border-top: 1px solid white;
    box-sizing: border-box;
  }

  .space-bar {
    padding-top: 4px;
    background: #d2d2d2;
  }
}

::-webkit-scrollbar {
  width: 0;
}

$fontPath: "/fonts/OpenSans/";

@font-face {
  font-family: "Open Sans";
  src: url("#{$fontPath}OpenSans-ExtraBoldItalic.woff2") format("woff2"),
    url("#{$fontPath}OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("#{$fontPath}OpenSans-LightItalic.woff2") format("woff2"),
    url("#{$fontPath}OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("#{$fontPath}OpenSans-SemiBoldItalic.woff2") format("woff2"),
    url("#{$fontPath}OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("#{$fontPath}OpenSans-Light.woff2") format("woff2"), url("#{$fontPath}OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("#{$fontPath}OpenSans-Regular.woff2") format("woff2"),
    url("#{$fontPath}OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("#{$fontPath}OpenSans-BoldItalic.woff2") format("woff2"),
    url("#{$fontPath}OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("#{$fontPath}OpenSans-Italic.woff2") format("woff2"), url("#{$fontPath}OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("#{$fontPath}OpenSans-SemiBold.woff2") format("woff2"),
    url("#{$fontPath}OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("#{$fontPath}OpenSans-ExtraBold.woff2") format("woff2"),
    url("#{$fontPath}OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("#{$fontPath}OpenSans-Bold.woff2") format("woff2"), url("#{$fontPath}OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
